@charset 'UTF-8';

/* body in the page */
body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-weight: normal;
}

div#interface{
    width: auto;
    height: 720px;
    background-color: teal;
}

/* cabecaçalho */
header#cabecalho{
    width: auto;
    height: 100px;
    margin: -15px auto auto auto;
    padding: auto;
    background-color: aqua;
}

nav#menu{
    margin: 0px;
}

section#sessao{
    width: auto;
    height: auto;
    float: left;
}

aside#ctlateral{
    width: auto;
    height: auto;
    float:right;
}

figure.fig-foto{
    display: block;
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
}

figure figcaption{
    margin: auto;
}

figure img{
    width: 100%;
    height: 100%;
}

/*footer set*/
footer#rodape{
    border-top: solid 2px rgba(0,0, 0,0.5);
    clear: both;
}

footer#rodape p{
    text-align: center;
    font-weight: normal;
    font-size:14pt;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}